[submodule "extern/plog"]
	path = extern/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "extern/google-cloud-cpp"]
	path = extern/google-cloud-cpp
	url = https://github.com/googleapis/google-cloud-cpp.git
