[submodule "extern/plog"]
	path = extern/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "googleapis"]
	path = googleapis
	url = https://github.com/googleapis/googleapis.git
	shallow = true
