.form-container {
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffa8a8;
    font-weight: bold;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    border-radius: 8px;
}

.left_form, .right_form {
    flex-basis: 48%;
    padding: 10px;
}
.sidebar {
    position: fixed;
    padding: 20px;
    background-color: #ffd4d4;
    
    /* width: 5em; */
    font-size: .8em;
    height: 100%;
    /* background: #111; */
    /* padding: 20px; */
    overflow: auto;
}

.main-content {
    /* margin-left: 5em; */
    padding: 20px;
}

.sidebar a {
    display: block;
    /* color: white; */
    text-decoration: none;
    margin-bottom: 10px;
}

.sidebar a:hover {
    color: #f1f1f1;
}

#Input_text {
    height: 850px;
    background-color: #ffd944;
}
#output {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#canvas {
    display: block;
}
#log {
    width: 100%;
    margin-bottom: 20px; 
    border: none;
    background-color: #f8f9fa;
    color: #000;
    height: 100px;
    resize: none;
}

textarea {
    width: 100%;
    padding: 8px;
    overflow: auto;
    margin: 4px 0;
    font-family: monospace;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#funTitle {
    text-align: center;
    /* text-shadow: 2px 2px #8B4513; */
    font-size: 70px;
    font-weight: 300;
    /* text-decoration: underline;     */
    margin-bottom: 10px;
    margin-top: 10px;
}

/* .guide { */
/*   /\* display: flex; *\/ */
/*   /\* justify-content: center; *\/ */
/*   /\* align-items: center; *\/ */
/*   /\* height: 100%; /\\* Specify the height as you wish *\\/ *\/ */
/* } */

/* #guide img { */
/*   max-width: 100%; */
/*   height: auto; */
/*     display: block; */
/*     margin-left: auto; */
/*     margin-right: auto; */
/* } */
video::-webkit-media-controls-panel {
   display: flex !important;
   opacity: 1 !important;
}
video {
    margin: auto;
    display: block;
}
@media only screen and (min-width: 950px) {
    .main-content {
	width: 950px;
	position: center;
	margin: auto;
    }
}
@media only screen and (max-width: 1640px) {
    .sidebar {
	visibility: collapse;
    }

}

@media only screen and (max-width: 48em) {
    .form-container {
	flex-direction: column;
    }
    .left_form, .right_form {
	flex-basis: auto;
    }
    .sidebar {
	visibility: collapse;
    }
}

@media print{
    .sidebar {
	visibility: collapse;
    }
    
	/* #header { */
	/* 	display: none !important;  */
	/* } */
	/* .html_header_left #main { */
        /* margin-left: 0px !important;  */
	/* } */
}
.form-container input[type="number"],
.form-container select {
    /* display: block; */
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    box-sizing: border-box;
}
.form-container input[type="number"],
.form-container select {
    margin-bottom: 20px;
}

#surveyButton, button {
    width: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#canvas {
    align: center;
}
#surveyButton:hover, #renderButton:hover {
    background-color: #0056b3;
}
#surveyButton, #renderButton {
    background-color: #007bff;
    color: white;
}

#defaultsButton {
    background-color: #8B4513; /* Dark Brown */
    color: white;
}

#defaultsButton:hover {
    background-color: #A0522D; /* Slightly lighter brown */
}
/* From personal site ========================================================= */

html {
    font-size: 26px;
}
body {
    color: #262626;
    margin-top: 0;
    background: #ffe0e0;
    font-weight: 300;
    min-width: 0px;
    margin: 0;
    font-family: "EB Garamond";
    box-sizing: border-box;
}
h1 {
    /* font-weight: 250; */
    /* font-siz */
}
h2 {
    font-weight: 200;
    font-size: 1.8em;
}

table {
    margin: auto;
}
h3 {
    font-weight: 200;
    font-size: 1.4em;
}
.menu {
    font-family: "Open Sans", sans-serif;
}
.menu a:visited {
    color: blue;
}
strong {
    font-weight: 600;
}
.menu ul {
    margin: 0;
    padding: 0;
    padding-right: 15px;
    list-style-type: none;
}
.menu li {
    display: block;
    padding-right: 10px;
    padding-bottom: 0px;
    float: left;
}
.footer {
    padding-bottom: 10px;
}
.footer .menu li.footer-only {
    display: block;
    float: right;
}
.menu li.footer-only {
    display: none;
}

#pagelist {
    line-height: 150%;
    width: 100%;
}
#pagelist a:visited {
    color: blue;
}
code {
    font-family: "Source Code Pro";
    font-size: .9em;
}

pre {
    padding: .5em;
    max-height: 300px;
    overflow-y: auto;
    font-size: .8em;
    border-radius: 10px;
}
pre, code {
    font-family: "Noto Sans Mono";
    font-weight: 400;
}

img {
    border-radius: 8px;
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
figcaption {
    text-align: center;
    font-size: .8em;
  padding-top: 8px;    
}
.title {
    font-family: "Open Sans", sans-serif;
    padding-bottom: 8px;
    font-weight: 300;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 0px;
    color: #000000;
}
.site-title {
    font-family: "Open Sans", sans-serif;
    padding-bottom: 8px;
    font-weight: 300;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 5px;
    color: #000000;
}

.hr {
    border-left: 0px;

}
.date {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.ldnotice {
    background-color: #ffd4d4;
    border-radius: 5px;
    font-size: .7em;
}
.dynamic-tr td{
    background-color: #ffd4d4;
    border-radius: 5px;
}


details {
    font-size: .8em;
}
details[open] {
    background-color: #ffd4d4;
    padding: 10px;
    border-radius: 5px;
}

summary {
    background-color: #ffd4d4;
    padding: 10px;
    border-radius: 5px;
}


/* copy code from code blocks, see copy.js. Original post I copied this from:
https://mansoorbarri.com/guides/copy-code/
*/
.highlight {
    position: relative;
}
.highlight pre {
    padding-right: 75px;
}
.highlight-copy-btn {
    position: absolute;
    top: 7px;
    right: 7px;
    border: 0;
    border-radius: 4px;
    padding: 1px;
    font-size: 0.7em;
    line-height: 1.8;
    color: #fff;
    background-color: #777;
    min-width: 55px;
    text-align: center;
}
.highlight-copy-btn:hover {
    background-color: #666;
}
div.highlight.nocopy button.highlight-copy-btn {
    display: none;
}

blockquote{
    font-size: .85em;
    width:70%;
    margin:50px auto;
    font-family:Open Sans;
    font-style:italic;
    background: #ffd4d4;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left:8px solid #cf8888;
    line-height:1.6;
    position: relative;
}



#survey ul {
    list-style-type: none;
    padding: 0;
}

#survey li {
    margin-bottom: 10px;
    background-color: #FF9393;
    padding: 10px;
    border-radius: 5px;
}

#survey   label {
    /* display: flex; */
    width: 90%;
    /* display: inline-block; */
}
#survey   li:hover {
    background-color: #FFC0C0;
}

input[type="radio"] {
    margin: 10px;
    /* display: inline-block; */
    /* display: flex; */
}

label {
    font-size: 1em;
}

input, select {
    font-size: 1em;
}
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
#survey {
    font-family: Arial, sans-serif;
    background-color: #ffd4d4;
    font-size: .8em;
    padding: 1em;
}
#survey h2 {
    font-size: 1.2em;
    font-weight: bold;
}
