html {
    font-size: 26px;
    width: 100%;
}
body {
    color: #262626;
    margin-top: 0;
    background: #ffe0e0;
    font-weight: 300;
    width: 100%;
    min-width: 0px;
    margin: 0;
    font-family: "EB Garamond";
    box-sizing: border-box;
}
h2 {
    font-weight: 200;
    font-size: 1.8em;
}
table {
    margin: auto;
}
h3 {
    font-weight: 200;
    font-size: 1.4em;
}
.form-container {
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffa8a8;
    font-weight: bold;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    border-radius: 8px;
}
.left_form, .right_form {
    flex-basis: 48%;
    padding: 10px;
}
.sidebar {
    position: fixed;
    padding: 20px;
    background-color: #ffd4d4;
    font-size: .8em;
    height: 100%;
    overflow: auto;
}
.main-content {
    padding: 20px;
}
.sidebar a {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
}
.sidebar a:hover {
    color: #f1f1f1;
}

#Input_text {
    height: 850px;
    background-color: #ffd944;
}
#output {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#canvas {
    display: block;
}
#log {
    width: 100%;
    margin-bottom: 20px; 
    border: none;
    background-color: #f8f9fa;
    color: #000;
    height: 100px;
    resize: none;
}
textarea {
    width: 100%;
    padding: 8px;
    overflow: auto;
    margin: 4px 0;
    font-family: monospace;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#funTitle {
    text-align: center;
    font-size: 70px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 10px;
}
video {
    margin: auto;
    display: block;
}
@media only screen and (min-width: 950px) {
    input, select {
	font-size: 1em;
    }
    .main-content {
	width: 950px;
	position: center;
	margin: auto;
    }
}
@media only screen and (max-width: 1640px) {
    .sidebar {
	visibility: collapse;
    }

}
@media only screen and (max-width: 48em) {
    .form-container {
	flex-direction: column;
    }
    .left_form, .right_form {
	flex-basis: auto;
    }
    .sidebar {
	visibility: collapse;
	display: none;
    }
}
@media print {
    .sidebar {
	visibility: collapse;
    }
}
.form-container input[type="number"],
.form-container select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    box-sizing: border-box;
}
.form-container input[type="number"],
.form-container select {
    margin-bottom: 20px;
}
#surveyButton, button {
    width: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#canvas {
    align: center;
}
#surveyButton:hover, #renderButton:hover {
    background-color: #0056b3;
}
#surveyButton, #renderButton {
    background-color: #007bff;
    color: white;
}
#defaultsButton {
    background-color: #8B4513; /* Dark Brown */
    color: white;
}

#defaultsButton:hover {
    background-color: #A0522D; /* Slightly lighter brown */
}
/* From personal site ========================================================= */
strong {
    font-weight: 600;
}
code {
    font-family: "Source Code Pro";
    font-size: .9em;
}

pre {
    padding: .5em;
    max-height: 300px;
    overflow-y: auto;
    font-size: .8em;
    border-radius: 10px;
}
pre, code {
    font-family: "Noto Sans Mono";
    font-weight: 400;
}

img {
    border-radius: 8px;
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
figcaption {
    text-align: center;
    font-size: .8em;
    padding-top: 8px;    
}
.title {
    font-family: "Open Sans", sans-serif;
    padding-bottom: 8px;
    font-weight: 300;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 0px;
    color: #000000;
}
.site-title {
    font-family: "Open Sans", sans-serif;
    padding-bottom: 8px;
    font-weight: 300;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 5px;
    color: #000000;
}

.hr {
    border-left: 0px;
}
details {
    font-size: .8em;
}
details[open] {
    background-color: #ffd4d4;
    padding: 10px;
    border-radius: 5px;
}
summary {
    background-color: #ffd4d4;
    padding: 10px;
    border-radius: 5px;
}
blockquote{
    font-size: .85em;
    width:70%;
    margin:50px auto;
    font-family:Open Sans;
    font-style:italic;
    background: #ffd4d4;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left:8px solid #cf8888;
    line-height:1.6;
    position: relative;
}
#survey ul {
    list-style-type: none;
    padding: 0;
}
#survey li {
    margin-bottom: 10px;
    background-color: #FF9393;
    padding: 10px;
    border-radius: 5px;
}

#survey   label {
    width: 90%;
}
#survey   li:hover {
    background-color: #FFC0C0;
}

input[type="radio"] {
    margin: 10px;
}
label {
    font-size: 1em;
}
#survey {
    font-family: Arial, sans-serif;
    background-color: #ffd4d4;
    font-size: .8em;
    padding: 1em;
}
#survey h2 {
    font-size: 1.2em;
    font-weight: bold;
}
